In [ ]:
# Introduction to Statistic

In [ ]:
# numpy ---- Descriptive Statistics

In [ ]:
# count
# sum
# mean
# mad
# median
# min
# max
# mode
# abs
# prod
# std
# var
# sem
# skew
# kurt
# quantile
# cumsum
# comprod
# cummax
# cummin

In [ ]:
import numpy as np

In [ ]:
arr1 = np.array([[2, 4, 3],[5, 6, -2],[-1, 41, 3]])

In [ ]:
print(arr1)

In [ ]:
print(arr1[2,1])

In [ ]:
print(arr1[0:2])

In [ ]:
print(arr1 > 3)

In [ ]:
print(arr1[arr1>3])

In [ ]:
arr1 = np.array([[2, 4, 3], [5, 6, -2]])
arr2 = np.array([[5, 8, -4], [2, 0, 2]])

In [ ]:
narr = np.concatenate((arr1, arr2), axis = 0)

In [ ]:
narr

In [ ]:
narr = np.concatenate((arr1, arr2), axis = 1)

In [ ]:
narr

In [ ]:
print(np.add(arr1, 4))

In [ ]:
np.mean(arr1, axis = 0)

In [ ]:
np.mean(arr1, axis = 1)

In [ ]:
arr1.mean(axis=0)

In [ ]:
arr1.max()

In [ ]:
arr1.var()

In [ ]:
np.var(arr1)

In [ ]:
arr1

In [ ]:
np.append(arr1, [[1], [1]], axis = 1)

In [ ]:
print(arr1.sort(axis = 0))

In [ ]:
arr1

In [ ]:
arr4 = np.arange(12).reshape(3,4)

In [ ]:
arr4

In [ ]:
# Pandas, DataFrame, Dictionary, List

In [10]:
import pandas as pd

In [34]:
data1 = [{'a':2, 'b': 4}, {'a':6 , 'b':12}]
data2 = [{'a':2, 'b': 4}, {'a':6 , 'b':12, 'c': 12}]

In [36]:
df = pd.DataFrame(data1)

In [38]:
df

   a   b
0  2   4
1  6  12

In [20]:
df['b']

0     4
1    12
Name: b, dtype: int64

In [52]:
df2 = pd.DataFrame(data1, index = ['in1', 'in2'], columns = ['a', 'b'])

In [54]:
df2

     a   b
in1  2   4
in2  6  12

In [66]:
data1 = [{'a':2, 'b': 4}, {'a':6, 'b': 12}]

In [68]:
df = pd.DataFrame(data1)

In [72]:
df['a']*df['b']

0     8
1    72
dtype: int64

In [76]:
del df['a']

In [78]:
df

    b
0   4
1  12

In [88]:
df = pd.DataFrame({'A': [1, 2, 3, np.NaN, 5, np.NaN],
                   'B': ['a', 'e', 'i', 'o', np.NaN, 'u']
                  })

In [86]:
import numpy as np

In [98]:
r1 = df[df['A'].isna()]

In [94]:
r2 = df[df['B'].notna()]

In [96]:
r2

     A  B
0  1.0  a
1  2.0  e
2  3.0  i
3  NaN  o
5  NaN  u

In [102]:
df

     A    B
0  1.0    a
1  2.0    e
2  3.0    i
3  NaN    o
4  5.0  NaN
5  NaN    u

In [108]:
df[df['A'].notna()]

     A    B
0  1.0    a
1  2.0    e
2  3.0    i
4  5.0  NaN

In [131]:
s = pd.Series(np.random.rand(100))

In [133]:
s

0     0.677234
1     0.025404
2     0.107661
3     0.341250
4     0.888594
        ...
95    0.011681
96    0.485877
97    0.821090
98    0.727442
99    0.402260
Length: 100, dtype: float64

In [129]:
np.random.rand(100)

array([0.0863711 , 0.48301169, 0.17115175, 0.53086701, 0.10671003,
       0.68748129, 0.25764735, 0.71313665, 0.90440147, 0.03367065,
       0.44146562, 0.62061449, 0.37927632, 0.28657659, 0.18043439,
       0.46710727, 0.85971812, 0.34602021, 0.70673957, 0.41448219,
       0.24029253, 0.64115453, 0.9152475 , 0.74193982, 0.9705018 ,
       0.39830824, 0.62883751, 0.01583626, 0.18466708, 0.37149761,
       0.51896863, 0.66341223, 0.75415665, 0.59971187, 0.58177279,
       0.74571712, 0.54332503, 0.30601467, 0.64759351, 0.87315062,
       0.29061334, 0.95968549, 0.37566619, 0.4070912 , 0.97575501,
       0.80902815, 0.54481231, 0.59314812, 0.40253726, 0.83345882,
       0.06732104, 0.12953945, 0.79878704, 0.66830992, 0.79917972,
       0.92601635, 0.64477272, 0.49948119, 0.48154123, 0.07762815,
       0.21044261, 0.44571448, 0.15139079, 0.3819581 , 0.91271296,
       0.43812736, 0.85879035, 0.22803143, 0.90689513, 0.91047415,
       0.96617948, 0.57021871, 0.2373493 , 0.93531028, 0.30446605,
       0.84575814, 0.32225101, 0.1324856 , 0.95073462, 0.18961566,
       0.48741969, 0.86768663, 0.94356699, 0.91188203, 0.06561225,
       0.25851046, 0.75451097, 0.23059416, 0.86730877, 0.77604459,
       0.28639602, 0.13439619, 0.75218757, 0.83130745, 0.42929282,
       0.80035395, 0.06000414, 0.44667963, 0.06278507, 0.53585893])

In [141]:
oo = pd.DataFrame(np.random.rand(100, 4), columns = list('ABCD'))

In [147]:
oo.quantile()

A    0.516074
B    0.463273
C    0.492362
D    0.533820
Name: 0.5, dtype: float64

In [178]:
import numpy as np
import pandas as pd

In [183]:
heart = pd.read_csv("/Users/mahsa/Downloads/ipynbs/Heart data.csv")

In [185]:
heart.head()

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0

In [205]:
(heart[['sex']]== 1).value_counts()

sex
True     419
False    178
Name: count, dtype: int64

In [215]:
heart[(heart['sex']==1) & (heart['chest pain']>2) ]

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
5,57,1,4,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,0
8,52,1,3,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,0
9,57,1,3,150.0,168.0,0.0,0.0,174.0,0.0,1.6,1.0,0.0,3.0,0
10,54,1,4,140.0,239.0,0.0,0.0,160.0,0.0,1.2,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,52,1,4,140.0,266.0,0.0,0.0,134.0,1.0,2.0,2.0,NaN,NaN,1
593,43,1,4,140.0,288.0,0.0,0.0,135.0,1.0,2.0,2.0,NaN,NaN,1
594,41,1,4,120.0,336.0,0.0,0.0,118.0,1.0,3.0,2.0,NaN,NaN,1
595,44,1,4,135.0,491.0,0.0,0.0,135.0,0.0,0.0,NaN,NaN,NaN,1
596,49,1,4,150.0,222.0,0.0,0.0,122.0,0.0,2.0,2.0,NaN,NaN,1

In [231]:
heartG = heart.groupby('c')['sex'].count()

In [233]:
heartG

c
0    352
1    245
Name: sex, dtype: int64