<div> <h1> Session 6 Pytho 1 </h1> 
</div>

<div> <h3>
Using arrays to have some mathematical operations on Lists </h3>
</div>

In [7]:
import numpy as np

In [83]:
height = [1.76, 1.73, 1.67, 1.82, 1.75]
weight = [65.4, 67.3, 83.1, 79.2, 69.5]

<div> 
<h3> Using arrays </h3>
</div>

In [86]:
np_height = np.array([1.76, 1.73, 1.67, 1.82, 1.75])
np_height

array([1.76, 1.73, 1.67, 1.82, 1.75])

In [88]:
np_weight = np.array([65.4, 67.3, 83.1, 79.2, 69.5])
np_weight

array([65.4, 67.3, 83.1, 79.2, 69.5])

In [96]:
IBM = np_weight / np_height**2
IBM

array([21.11311983, 22.48655151, 29.79669404, 23.91015578, 22.69387755])

<div> <h2> 2 dimension array </h2>
</div>

In [41]:
np_2d = np.array([[1.76, 1.73, 1.67, 1.82, 1.75],
                 [65.4, 67.3, 83.1, 79.2, 69.5]])
np_2d

array([[ 1.76,  1.73,  1.67,  1.82,  1.75],
       [65.4 , 67.3 , 83.1 , 79.2 , 69.5 ]])

In [43]:
np_2d.shape

(2, 5)

In [45]:
np_2d.T

array([[ 1.76, 65.4 ],
       [ 1.73, 67.3 ],
       [ 1.67, 83.1 ],
       [ 1.82, 79.2 ],
       [ 1.75, 69.5 ]])

In [57]:
xx = np.array([[1.73, 1.68],
               [880.4,59.2]])
xx

array([[  1.73,   1.68],
       [880.4 ,  59.2 ]])

<div> <h2> Descriptive stat in arrays </h2>
</div>

In [60]:
xx.max()

880.4

In [62]:
x = np.array([[1,2],
             [3,4]])
y = np.array([[5,6],
             [7,8]])
np.dot(x,y)

array([[19, 22],
       [43, 50]])

In [64]:
xx.round(1)

array([[  1.7,   1.7],
       [880.4,  59.2]])

<div> <h2> subsetting numpy (array) </h2>
</div>

In [77]:
np_2d

array([[ 1.76,  1.73,  1.67,  1.82,  1.75],
       [65.4 , 67.3 , 83.1 , 79.2 , 69.5 ]])

In [98]:
IBM

array([21.11311983, 22.48655151, 29.79669404, 23.91015578, 22.69387755])

In [100]:
IBM[1]

22.48655150522904

In [102]:
IBM[IBM>23]

array([29.79669404, 23.91015578])

<div> 
<h1> Dictionary in Python </h1>
</div>

In [125]:
word = {"afgh":30.2, "albania":2.77, "algeria":39.21 }
word

{'afgh': 30.2, 'albania': 2.77, 'algeria': 39.21}

In [140]:
word

{'afgh': 30.2, 'albania': 2.77, 'algeria': 39.21, 'iran': 400}

In [131]:
word["afgh"]

30.2

In [137]:
word["iran"] = 400

word

In [146]:
word["afgh"]= 50

In [162]:
word

{'afgh': 50, 'albania': 2.77, 'algeria': 39.21, 'iran': 400}

In [179]:
import pandas as pd

In [181]:
ooo = {
    "Country":["Brazil","Russia","India","China","Sount Africa"],
    "Capital":["Brasilia","Moscow","New dehli", "beijing", "Pretoria"],
    "Area":[8.651, 17.10, 3.286, 9.656, 1.221],    
    "Population":[200.4, 143.5, 1252, 1357, 52.98]
}

In [189]:
brics = pd.DataFrame(ooo)
brics

        Country    Capital    Area  Population
0        Brazil   Brasilia   8.651      200.40
1        Russia     Moscow  17.100      143.50
2         India  New dehli   3.286     1252.00
3         China    beijing   9.656     1357.00
4  Sount Africa   Pretoria   1.221       52.98

In [195]:
brics.shape[1]

4

In [211]:
my_array = np.array([[1,5,9,13],
                    [2,6,10,14],
                    [3,7,11,15],
                    [4,8,12,16]])

In [217]:
my_df = pd.DataFrame(my_array,
                    index =["inventory1","inventory2","inventory3","inventory4"],
                    columns =["Tehran","Rasht","Isfahan","Shiraz"])
my_df

            Tehran  Rasht  Isfahan  Shiraz
inventory1       1      5        9      13
inventory2       2      6       10      14
inventory3       3      7       11      15
inventory4       4      8       12      16

In [219]:
brics

        Country    Capital    Area  Population
0        Brazil   Brasilia   8.651      200.40
1        Russia     Moscow  17.100      143.50
2         India  New dehli   3.286     1252.00
3         China    beijing   9.656     1357.00
4  Sount Africa   Pretoria   1.221       52.98

In [221]:
brics.index

RangeIndex(start=0, stop=5, step=1)

In [225]:
brics.index = ["Br", "Ru","In","Ch","Sa"]
brics

         Country    Capital    Area  Population
Br        Brazil   Brasilia   8.651      200.40
Ru        Russia     Moscow  17.100      143.50
In         India  New dehli   3.286     1252.00
Ch         China    beijing   9.656     1357.00
Sa  Sount Africa   Pretoria   1.221       52.98

In [234]:
bricsnew = brics.reset_index()
bricsnew.drop

<bound method DataFrame.drop of   index       Country    Capital    Area  Population
0    Br        Brazil   Brasilia   8.651      200.40
1    Ru        Russia     Moscow  17.100      143.50
2    In         India  New dehli   3.286     1252.00
3    Ch         China    beijing   9.656     1357.00
4    Sa  Sount Africa   Pretoria   1.221       52.98>

In [244]:
df = pd.DataFrame(np.arange(12).reshape(3,4),
                 columns= ["A","B","C", "D"])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [254]:
import pandas as pd
data = {"name": ["saly","malo"],
        "quali": [True,False]}
df_data = pd.DataFrame(data)

In [258]:
df_data.insert(1, "age", [17,15])

In [260]:
df_data

   name  age  quali
0  saly   17   True
1  malo   15  False