In [3]:
i = 'Soheil'
print('i is {}'.format(i))

i is Soheil

In [5]:
i = 0
while i < 4:
    print('i is {}'.format(i))
    i+=1

i is 0
i is 1
i is 2
i is 3

In [9]:
for i in range(2,6):
    print('This is a test for {} '.format(i))
    i+=1

This is a test for 2
This is a test for 3
This is a test for 4
This is a test for 5

In [17]:
for i in range(2,10,3):
    print('The second test for {}'.format(i))
    i+=1

The second test for 2
The second test for 5
The second test for 8

In [36]:
list_1 = []
for i in range(4):
    list_1.append(i**2)
print(list_1)

[0, 1, 4, 9]

In [40]:
list_2 = [i**2 for i in range(4)]
print(list_2)

[0, 1, 4, 9]

In [44]:
dict_1 = {str(i): i**3 for i in range(5)}
print(dict_1)

{'0': 0, '1': 1, '2': 8, '3': 27, '4': 64}

In [61]:
number = int(input('Enter a Number: '))
if number %3 == 0:
    print('The number {} is divisible by 3' .format(number))
elif number %2 == 0:
    print('The number {} is even' .format(number))
else:
    print('The number {} is divisible by neither 3 nor 2'.format(number))

Enter a Number:  5

The number 5 is divisible by neither 3 nor 2

In [63]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [69]:
def word_reverse(soheil):
    word=soheil.lower()
    print(word)
    return word[::-1]
word_reverse('Fatemeh')

fatemeh

'hemetaf'

In [89]:
def get_input(msg):
    number= float(input('New Message: '))
    print(msg)
    return number
def math_fanc(x):
    return x**2+1
adad = get_input('Salam Honey')
print(adad)

New Message:  50

Salam Honey
50.0

In [97]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\mahsa\anaconda3\lib\site-packages (1.26.4)

In [115]:
import numpy as np
np.__version__

'1.26.4'

In [121]:
a = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
print(a)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [127]:
print(np.where (a>5,a,0))

[[ 0  0  0]
 [ 0  0  6]
 [ 7  8  9]
 [10 11 12]]

In [129]:
print(np.where (a>10,a, -1))

[[-1 -1 -1]
 [-1 -1 -1]
 [-1 -1 -1]
 [-1 11 12]]

In [140]:
print(a.shape)

(4, 3)

In [144]:
b=np.array([[1,2,3],[4,5,6]])
print(b)

[[1 2 3]
 [4 5 6]]

In [147]:
v = 10.5
print(v, ',', type(v))

10.5 , <class 'float'>

In [149]:
v_4 = [1,2,4,7,9,33]
print(v_4[3])

7

In [151]:
print(v_4[2:4])

[4, 7]

In [162]:
x = input("Write your name, here: ")
print(x[::-1])

Write your name, here:  mahi

iham

In [184]:
int_1 = 4
float_1 = 10.74
str_1 = 'it is a string'
list_1 = ['x',2, 'd',[1,2,('x','y')]]
dict_1 = {'a':[1,2,3], 'b':{'x':0}}

In [200]:
print('1:', int_1 + float_1)
print('2:', str_1*int_1)
print('3:', list_1+list_1)
print('4:', list_1*2)
print('5:', int_1/2)

1: 14.74
2: it is a stringit is a stringit is a stringit is a string
3: ['x', 2, 'd', [1, 2, ('x', 'y')], 'x', 2, 'd', [1, 2, ('x', 'y')]]
4: ['x', 2, 'd', [1, 2, ('x', 'y')], 'x', 2, 'd', [1, 2, ('x', 'y')]]
5: 2.0

In [202]:
print('3:', ['x'] in ['y', 'x', ['x']])

3: True

In [206]:
i = 1
print('i is {}'.format(i))
j = 24*2
print('the outcome is {}'.format(j))

i is 1
the outcome is 48

In [217]:
i = 0
while i <4:
    print('i is {}'.format(i))
    i+=1

i is 0
i is 1
i is 2
i is 3

In [226]:
for i in range(5):
    print('The number is {}' .format(i))

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4

In [246]:
list_1 =[]
for i in range(4):
    list_1.append(i**2)
    print(list_1)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]

In [248]:
list_2 = [i**2 for i in range(6)]
print(list_2)

[0, 1, 4, 9, 16, 25]

In [250]:
dic_1 = {str(i):i**3 for i in range(5)}
dic_1

{'0': 0, '1': 1, '2': 8, '3': 27, '4': 64}

In [254]:
number = int(input('Please enter a number: '))
if number %3 == 0:
    print('Your number {} is divisible by 3' .format(number))
elif number %2 == 0:
    print('Your number {} is even' .format(number))
else:
    print('You number {} is divisble neither by 2 nor 3')

Please enter a number:  45

Your number 45 is divisible by 3

In [258]:
def word_reverse(soheil):
    word= soheil.lower()
    print(word)
    return word[::-1]
word_reverse('sample')

sample

'elpmas'

In [266]:
def my_func():
    for i in range(4):
        print(i)
    print('It is a test')
    return i > 3
my_func()

0
1
2
3
It is a test

False

In [301]:
def get_input(msg):
    number = float(input('new number: '))
    print(msg)
    return number*2
def math_func(x):
     return x**2 +1
adad = get_input ('Salam Honey')
print(math_func(adad))

new number:  90

Salam Honey
32401.0

In [305]:
def sum_(x,y):
    return x+y
sum_(2,7)

9

In [315]:
import numpy as np

In [341]:
a1 = np.array([[1,23,45],[12,13,15],[14,23,45]])
print(a1.shape)
print(a1.shape[0])

(3, 3)
3

import numpy as no
import pandas as pd

In [9]:
<div>
    <h1 align="center">Machine Learning in Python</h1>
    <h3 align="center">Session 1: Introduction</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

SyntaxError: invalid syntax (1426211937.py, line 1)